aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
bs4
cachetools
certifi
cffi
charset-normalizer
colorama
comm
dataclasses-json
debugpy
decorator
defusedxml
distro
et_xmlfile
executing
fastjsonschema
filelock
filetype
fqdn
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
jiter
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-huggingface
langchain-openai
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
matplotlib-inline
mistune
mpmath
multidict
mypy_extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
openai
openpyxl
orjson
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyMuPDF
python-dateutil
python-dotenv
python-json-logger
pytz
pyxlsb
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rpds-py
rsa
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
setuptools
six
sniffio
soupsieve
SQLAlchemy
stack-data
sympy
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
yarl
zstandard
